/* PC */
@media (min-width : 1024px) {}

/* Tablet */
@media (min-width : 969px) and (max-width : 1024px) {
    #header .nav_menu li a{
        margin-left: 10px;
    }
    #header .nav_menu .nav_menu_top .nav_menu_top_right {
        flex-basis: 55%;
    }

    #header .nav_menu .nav_menu_top .nav_menu_top_left {
        flex-basis: 55%;
    }
    #header .nav_menu li a{
        font-size: 1.3rem;
    }
    #header .nav_menu .nav_menu_top{
        margin: 0 20px;
    }

    .nav_menu_top .nav_menu_top_left li:nth-child(2) {
        width: 101px;
    }
    .nav_menu_top .nav_menu_top_left li:nth-child(3) {
        width: 137px;
    }
    .nav_menu_top .nav_menu_top_left li:nth-child(4) {
        width: 113px;
    }


}

/* Mobile */
@media (max-width : 740px) {}